:root {
	--background-primary-color: #fff;
	--background-secondary-color: #fafbfc;
	--background-today-color: #ffffd9;
	--highlight-blue-color: #1677ff;
	--highlight-yellow-color: #ffc568;
	--border-color: #dae1e6;
	--text-color: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-primary-color: #1e1e1e;
		--background-secondary-color: #121212;
		--background-today-color: #383840;
		--border-color: #383840;
		--text-color: #fff;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: var(--background-secondary-color);
	color: var(--text-color);
}

body.dark-theme {
	--background-primary-color: #1e1e1e;
	--background-secondary-color: #121212;
	--background-today-color: #383840;
	--border-color: #383840;
	--text-color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
